@{
    ViewData["Title"] = "Home Page";
}
@using KassaOne.Models;


<form method="post" action="~/Kassa/Index" enctype="multipart/form-data" class="form-group text-center">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col form-group">
                <label>Сумма Кредита(р.):</label>
                <br />
                <input type="number" name="CreditSum" class="form-control" min="1" required/>
                <br />
                <div class="row">
                    <div class="col">
                    <label>Срок кредитования(мес.):</label>
                    <br />
                    <input type="number" name="NumberOfPayments" class="form-control" min="1" required />
                    <br />
                    </div>
                    <div class="col-3">
                        <label for="inputState">Период</label>
                        <select name="OptionValue" id="inputState" class="form-control"  >
                            <option selected value="1">Месяц</option>
                            <option value="2">15 дней</option>
                            <option value="3">10 дней</option>
                        </select>
                    </div>
                </div>
                <label>Процентная ставка за год:</label>
                <br />
                <input type="number" name="RatePerYear" class="form-control" min="1" required/>
                <br /> 
                <input type="submit" value="Рассчитать" class="btn btn-success" />
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</form>


